*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(27, 25, 25);;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 35px;
    background-color: rgb(27, 25, 25);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 99;
}
/* Navigation part imported from my an old webpage I worked on a few months ago */
.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

nav ul{
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: end;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 5px 15px;
}

nav a{
    text-decoration: none;
    color: #fff;
}

.navigation a:hover {
    color: #cbc6c6;
    transition: .3s;
}

nav .button{
    width: 122px;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 20px;
    transition: .5s;
}

nav .button:hover{
    transform: scale(1.1);
    cursor: pointer;
    color: rgba(0, 0, 0, 0.57);
    background: #fff;
}
/* End of my old webpage sourced code. */
.banner {
    position: relative;
}

.banner img {
    height: 750px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("images/coding-background.jpg");
    background-size: cover;
    background-position: center;
}

.banner-text {
position: absolute;
top: 10%;
color: #fff;
padding: 35px;
}

.banner-text h1 {
    width:500px;
    margin: 0px 525px;
    text-align: center;
}

.banner-text h2 {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
}

.banner-text p{
    font-size: 18px;
    line-height: 30px;
}

.banner-text li {
    margin-left: 45px;
    line-height: 25px;
    font-size: 20px;
}
/* Container and slider inspired/created from youtube source: https://www.youtube.com/watch?v=McPdzhLRzCg */
.container {
    padding: 0.5rem;
    font-size: 28px;
    text-align: center;
}

.container h1 {
    margin-bottom: 20px;
    color: #fff;
}

.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}
/* End of youtube sourced code. */